<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brickCount</key>
	<integer>23</integer>
	<key>Bouncers</key>
	<array>
		<dict>
			<key>type</key>
			<string>bouncer3</string>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>333</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>bouncer2</string>
			<key>y</key>
			<integer>333</integer>
			<key>x</key>
			<integer>167</integer>
		</dict>
		<dict>
			<key>x</key>
			<integer>274</integer>
			<key>y</key>
			<integer>333</integer>
			<key>type</key>
			<string>bouncer1</string>
		</dict>
	</array>
	<key>PinkBricks</key>
	<array>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>240</string>
			<key>y</key>
			<string>520</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>180</string>
			<key>y</key>
			<string>520</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>120</string>
			<key>y</key>
			<string>520</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>60</string>
			<key>y</key>
			<string>520</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>270</string>
			<key>y</key>
			<string>550</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>y</key>
			<string>550</string>
			<key>x</key>
			<string>210</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>150</string>
			<key>y</key>
			<string>550</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>30</string>
			<key>y</key>
			<string>550</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>90</string>
			<key>y</key>
			<string>550</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>270</string>
			<key>y</key>
			<string>490</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>210</string>
			<key>y</key>
			<string>490</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>150</string>
			<key>y</key>
			<string>490</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>30</string>
			<key>y</key>
			<string>490</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>90</string>
			<key>y</key>
			<string>490</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>60</string>
			<key>y</key>
			<string>460</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>120</string>
			<key>y</key>
			<string>460</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>180</string>
			<key>y</key>
			<string>460</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>240</string>
			<key>y</key>
			<string>460</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>270</string>
			<key>y</key>
			<string>430</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>210</string>
			<key>y</key>
			<string>430</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>150</string>
			<key>y</key>
			<string>430</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>30</string>
			<key>y</key>
			<string>430</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>90</string>
			<key>y</key>
			<string>430</string>
		</dict>
	</array>
</dict>
</plist>
