<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brickCount</key>
	<string>35</string>
	<key>Bouncers</key>
	<array>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>525</integer>
			<key>type</key>
			<string>bouncer1</string>
		</dict>
		<dict>
			<key>type</key>
			<string>bouncer2</string>
			<key>x</key>
			<integer>280</integer>
			<key>y</key>
			<integer>525</integer>
		</dict>
	</array>
	<key>PinkBricks</key>
	<array>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>170</string>
			<key>y</key>
			<string>400</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>225</string>
			<key>y</key>
			<string>400</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>225</string>
			<key>y</key>
			<string>425</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>225</string>
			<key>y</key>
			<string>450</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>170</string>
			<key>y</key>
			<string>450</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>115</string>
			<key>y</key>
			<string>450</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>60</string>
			<key>y</key>
			<string>450</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>60</string>
			<key>y</key>
			<string>425</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>60</string>
			<key>y</key>
			<string>400</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>60</string>
			<key>y</key>
			<string>375</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>60</string>
			<key>y</key>
			<string>350</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>115</string>
			<key>y</key>
			<string>350</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>170</string>
			<key>y</key>
			<string>350</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>225</string>
			<key>y</key>
			<string>350</string>
		</dict>
		<dict>
			<key>type</key>
			<string>purple</string>
			<key>x</key>
			<string>280</string>
			<key>y</key>
			<string>350</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>280</string>
			<key>y</key>
			<string>375</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>280</string>
			<key>y</key>
			<string>400</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>280</string>
			<key>y</key>
			<string>425</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>280</string>
			<key>y</key>
			<string>450</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>280</string>
			<key>y</key>
			<string>475</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>225</string>
			<key>y</key>
			<string>375</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>170</string>
			<key>y</key>
			<string>375</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>115</string>
			<key>y</key>
			<string>375</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>115</string>
			<key>y</key>
			<string>400</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>115</string>
			<key>y</key>
			<string>425</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>170</string>
			<key>y</key>
			<string>475</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>225</string>
			<key>y</key>
			<string>475</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>115</string>
			<key>y</key>
			<string>475</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>60</string>
			<key>y</key>
			<string>475</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>170</string>
			<key>y</key>
			<string>425</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>60</string>
			<key>y</key>
			<string>325</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>115</string>
			<key>y</key>
			<string>325</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>170</string>
			<key>y</key>
			<string>325</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>225</string>
			<key>y</key>
			<string>325</string>
		</dict>
		<dict>
			<key>type</key>
			<string>pink</string>
			<key>x</key>
			<string>280</string>
			<key>y</key>
			<string>325</string>
		</dict>
	</array>
</dict>
</plist>
